.jumbotron {
  background-color: #2efcff;
  color: whitesmoke; }

.logo {
  height: 100px;
  width: 200px; }

.card {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 10px;
  margin: 10px; }

footer {
  background-color: #2efcff;
  color: whitesmoke;
  justify-self: baseline;
  padding-top: 20px; }

.col {
  display: flex;
  flex-direction: column;
  justify-content: space-between; }

.footer-icon {
  padding-right: 5px; }
